.background-transparent{
    background-color: rgba(0, 0, 0, 0);
}

.concrete-artifact-display{
    display: flex;
    height: 100vh;
}

.artifact-card-tray{
    flex: 3;
    flex-direction: row;
    overflow: scroll;
}

.artifact-details-tray{
    flex: 2;
    flex-direction: row;
    overflow: scroll;
}

.c-artifact-auto{
    flex: 1 0 7em;
}

.hidden-artifact-auto{
    flex: 1 0 7em;
    visibility: hidden;
}

.character-detail-background{
    background-blend-mode: lighten;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.col-auto a{
    display: block;
    padding: 1em;
}

.character-detail-img{
    max-width: 10em;
    max-height: 10em;
}

.name-width{
    max-width: 10em;
}

.wide-form-select{
    flex: 5 5 auto !important;
}

.unselectable{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none; 
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.box {
    min-height: -webkit-min-content;
    display: flex;
    overflow: hidden;
}

.wrap{ 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}  

.artifact-section-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}