.background-transparent{
    background-color: rgba(0, 0, 0, 0);
}

.concrete-char-display{
    display: flex;
    height: 100vh;
}

.c-portrait-auto{
    flex: 1 0 7em;
}

.hidden-portrait-auto{
    flex: 1 0 7em;
    height: 2em;
    visibility: hidden;
}

.character-card-tray{
    flex: 2;
    flex-direction: row;
    overflow: scroll;
}

.character-details-tray{
    flex: 4;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: scroll;
}

.character-detail-background{
    background-blend-mode: lighten;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.character-detail-img{
    max-width: 10em;
    max-height: 10em;
}

.invisible{
    display: none;
}

.wrap{ 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}  

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.box {
    min-height: -webkit-min-content;
    display: flex;
    overflow: hidden;
}

/* character gear styling */
.gear-section {
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.gear-weapon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 0;
}

.gear-artifact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 4 0;
}

.gear-flex-baby {
    flex: 0 1 6em;
}

/* character trait styling */
.id-section {
    display: flex;
    flex-direction: column;
}

.id-section-stats {
    display: flex;
    flex-direction: row;
}

.id-section-stats-inputs {
    margin-right: 1em;
    flex: 1 1;
}

.id-section-image-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.id-section-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat-list {
    margin: 1em;
}