.background-transparent{
    background-color: rgba(0, 0, 0, 0);
}

.flex-width{
    flex: 1 1 6em;
}

.portrait-size{
    text-align: center;
    position: relative;
    flex: 0 1 6em;
}

.weapon-size {
    object-fit: cover;
}

.center-cropped {
    position: absolute;
    bottom: 0;
    object-fit: contain; /* Do not scale the image */
    width: 100%;
}

.unselectable{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none; 
}

.detail-card {
    position: relative;
    display: flex;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    flex-direction: row;
}

.detail-card-fw-section {
    flex: 0 1 4em;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.detail-card-artifacts-section {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
    align-items: top;
}

.detail-card-right-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    align-items: top;
}

.detail-card-stats-section {
    margin: 0.3em;
}

.detail-card-face {
    flex: 2 1 0%;
    align-self: center;
}

.detail-card-artifacts {
    flex: 1;
    align-self: center;
    min-height: 0;
    min-width: 0;
}

.detail-card-weapon {
    flex: 1 2 0%;
}