.background-transparent{
    background-color: rgba(0, 0, 0, 0);
}

.portrait-size{
    text-align: center;
    position: relative;
    width: 6em;  /* Container's dimensions */
    height: 6em;
}

.center-cropped {
    position: absolute;
    bottom: 0;
    object-fit: contain; /* Do not scale the image */
    width: 100%;
}

.unselectable{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none; 
}