
.home-container {
    height: 96vh;
    display: flex;
    position: relative;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 1), 70% , rgba(255, 255, 255, 0));
}

.home-image-container {
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

.unselectable{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}

.home-image {
    zoom: 5;
    width: 100%;
    height: auto;
}

.title-text {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}